<section>
    <div class="contacto" id="contacto">
        <div class="h2-cnt">
            <h2>Datos de contacto</h2>
            <button title="Guardar Cambios" class="btn-icon" (click)="guardar()" *ngIf="datos.login">
                <img src="./assets/imagenes/save.png" class="icon" alt="save">
            </button>
        </div>
        <ul *ngIf="datos.datos">
            <div class="li-cnt">
                <li>Mail:
                    <p #dato1 [contentEditable]="datos.login">{{datos.datos.mail}}</p>
                </li>
            </div>
            <div class="li-cnt">
                <li>
                    <a href={{datos.datos.facebook}} target="_blank">Facebook</a>
                    <p #dato2 *ngIf="datos.login" [contentEditable]="datos.login">{{datos.datos.facebook}}</p>
                </li>
            </div>
            <div class="li-cnt">
                <li><a href={{datos.datos.linkedin}} target="_blank">Linkedin</a>
                    <p #dato3 *ngIf="datos.login" [contentEditable]="datos.login">{{datos.datos.linkedin}}</p>
                </li>
            </div>
        </ul>
    </div>
</section>