<section> 
    <div class="educacion" id="educacion">
        <h2>Educación</h2>
        <h3>Full Stack Developer Jr.</h3>
        <h4>Curso "Argentina programa" brindada por el ministerio de desarrollo productivo en conjunto con el INTI</h4>
        <h3>Autoaprendizaje</h3>
        <p>Parte de mi trabajo demandaba conocimientos en programación de PLC y robótica. Esta actividad era de las que mas me gustaba desarrollar determinado el siguiente paso, aumentar mis conocimientos para conocer lenguajes de programación mas bajos. En mis primeros pasos comence a investigar por mi cuenta en la Web sin un temario claro. Luego apliqué para el curso de Argentina programa, lo que me ayudó de guía y me dió el impulso necesario para meterme de lleno y poder convertirme en un Full-stack Web Developer.</p>
        <h3>Técnico Aviónico</h3>
        <h4>INAC - CIATA</h4>
        <p>En mi juventud me apasionaba la aeronáutica. Encontre la carrera técnica que se relacionaba a esta actividad. Luego de 4 años me recibí de Técnico Aviónico, sin embargo nunca pude ejercer en este rubro. Mis conocimientos me permitieron ingresar en una empresa donde pude aprender a programar PLC y Robots, deviniendo en mi actual pasión la programación web.</p>
    </div>
</section>