.resumen {
    width: 100%;
    height: 80vh;
    background-color: gray;
    border-radius: 10px;

}

.fondo {
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

#fondo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

#foto {
    object-fit: contain;
    height: 100%;
    border-radius: 40%;
    border: 5px solid gray;
}

#foto-cnt {
    position: absolute;
    height: 70%;
    border-radius: 40%;
    left: 5%;
    display: flex;
}

.icon-cnt {
    height: 20%;
}

#sel-pic {
    display: none;
}

#lbl-icon {
    height: 100%;
}

#icon {
    cursor: pointer;
    height: 100%;

}

#btn-icon {
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: 20px;
}

#icon {
    height: 50%;

}