<nav class="nav">
    <div><img id="logoAP" src="./assets/imagenes/APLogo-20-20.png"alt="LogoAP"></div>        
    <ul>
        <li><img id="menu" src="./assets/imagenes/hamburgesa.png" alt="menu"></li>
        <li class="link"><a href=""><img id="facebook" src="./assets/imagenes/facebook.png" alt="facebook"></a></li>
        <li class="link"><a href=""><img id="linkedin" src="./assets/imagenes/linkedin.png" alt="linkedin"></a></li>
        <li class="link"><a routerLink="/info"><img id="inicio" src="./assets/imagenes/inicio.png" alt="Inicio"></a></li>
        <li class="link"><a href=""><img id="login" src="./assets/imagenes/login.jpg" alt="login/logout"></a></li>
    </ul>        
</nav>