<nav class="nav">
    <div><img id="logoAP" src="./assets/imagenes/APLogo-20-20.png" alt="LogoAP"></div>
    <ul>
        <li>
            <img id="menu" src="./assets/imagenes/hamburgesa.png" alt="menu">
        </li>
        <li class="link">
            <a href="https://www.facebook.com/helios.diazfavret/" target="_blank">
                <img id="facebook" src="./assets/imagenes/facebook.png" alt="facebook">
            </a>
        </li>
        <li class="link">
            <a href="https://www.linkedin.com/in/helios-augusto-d%C3%ADaz-favret-49b293103/" target="_blank">
                <img id="linkedin" src="./assets/imagenes/linkedin.png" alt="linkedin">
            </a>
        </li>
        <li class="link">
            <a routerLink="/info">
                <img id="inicio" src="./assets/imagenes/inicio.png" alt="Inicio">
            </a>
        </li>
        <li class="link">
            <a routerLink="/login" (click)="deslogear()">                
                <img *ngIf="datos.login; else elseBlock" id="login" src={{logout}} alt="login/logout">
                <ng-template #elseBlock><img id="login" src={{login}} alt="login/logout" (click)="deslogear()"></ng-template>                
            </a>
        </li>
    </ul>
</nav>