/* info style start */

.info {
    padding: 10px;
}

.info ul {
    margin: 0;
}

.info li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.h1-cnt{
    height: 50px;
    display: flex;
    align-items: center;
}
#btn-icon {
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: 20px;    
}

#icon {
    height: 50%;
    
}

h2 {
    margin: 15px;
}

#inti {
    height: 30px;
    margin-left: 20px;
}

#inac {
    height: 30px;
    margin-left: 20px;
}
