/* info style start */
section {
    height: 50%;
}
.info {
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;   
}

.info ul {
    margin: 0;
}

.info li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.h1-cnt{
    height: 50px;
    display: flex;
    align-items: center;
}

#btn-icon {
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: 20px;    
}

#icon {
    height: 50%;    
}

h2 {
    margin: 15px;
}

.img-edu {
    height: 30px;
    margin-left: 20px;
}

#inac {
    height: 30px;
    margin-left: 20px;
}
#editOk{
    padding: 5px;
    border: 2px dashed black;
    background-color: rgb(192, 182, 182);
    border-radius: 5px;
    font-style: oblique;
}
h1{
    margin: 0;
}
