<section>
    <div class="experiencias" id="experiencias">
        <h2>Experiencias</h2>
        <h3>Programación Web</h3>
        <p>Programacion completa de mi Portfolio.</p>
        <h3>Técnico</h3>
        <p>15 años de experiencia trabajando en mantenimiento en Toyota Argentina. Realizaba tanto tareas básicas como pueden ser la lubricaión y ajustes mecánicos, como tareas mas complejas como la programación de PLC, o el teaching de robots. Tambien trabaja en la busqueda de fallas y aplicación de mejoras. Por la parte de géstion, trabaje en los 3 pilares de la organización del sector. Plan de Mantenimiento, capacitación del personal, y gestión de los repuestos.
        </p>        
    </div>
</section>